<footer>
  <div class="footer-wrapper">
    <div class="footer-content">
      <div class="top-content">
          <div class="gopro-movement">
            <h3>JOIN THE GOPRO MOVEMENT</h3>
            <p>I want to receive the latest GoPro videos, news, tutorials, software updates, special deals and giveaways.</p>
            <br>
            <div class="newsletter-holder">
              <div class="newsletter-signup">
                <form>
                  <input type="email" name="email" placeholder="Enter Your Email">
                  <p> SUBMIT >> </P>
                </form>
              </div>
          </div>
        </div>
          <div class="software-updates">
            <h3> CAMERA SOFTWARE UPDATES </h3>
            <p> Keep your GoPro up to date for the latest features and best performance.</p>
            <div class="download-update">
              <p> DOWNLOAD UPDATE >> </p>
            </div>
          </div>
          <div class="customer-support">
            <h3> CUSTOMER SUPPORT </h3>
            <p> Visit the support page for help, and find answers to commonly asked questions</p>
            <div class="visit-support">
              <p> VISIT SUPPORT >> </p>
            </div>
      </div>
    </div>
    <div class="social-wrapper">
      <div class="social-line">
        <div class="social-icons">
        <img src="/img/facebookimg.png"/>
        <img src='/img/youtubeimg.png'/>
        <img src='/img/twitterimg.png'/>
        <img src='/img/instagramimg.png'/>
        <img src='/img/pinterestimg.png'/>
      </div>


        <div class="guarantee">
          <h1> 30 Day Money Back Guarantee </h1>
        </div>
      </div>
    </div>

    <div class="link-section">
      <ul class="links">
        <li>About Us</li>
        <li>News</li>
        <li>Careers</li>
        <li>Get Stickers</li>
        <li>International Distributors</li>
        <li>Affiliate Program</li>
        <li>Terms</li>
        <li>Privacy Policy</li>
        <li>Shop Local</li>
        <li>Contact Us</li>
        <li>Refurbished Cameras</li>
        <li>Order Status</li>
        <li>Investor Relations</li>
        <li>Supply Chain</li>
        <li>Developer Program</li>
        <li>Cause</li>
        <li>Feedback</li>
      </ul>

  </div>
  <div class="rights-reserved">
    <div class='rights-content'>
    <p>GoPro, HERO, Karma, Session and their respective logos are trademarks or
      registered trademarks of GoPro, Inc. in the United States and other
      countries. C 2016. GoPro, Inc. All rights reserved.</p>
  </div>
</div>
</div>
</div>






</footer>
