<div class = "homepage-video-container">
  <video class= "homepage-video" loop preload="auto" autoplay height:"500" width: "500">
    <source src="/ivid/goproclone2.mp4">
    </video>
    <div class = "video-title">
      <b> INTRODUCING </b>
      <img src="/img/hero5-logo.png"/>
    </div>

    <div class='hero5-camera'>
      <img class = "camera-img" src="/img/Hero5Lockup.png"/>
    </div>
  </div>
    <!-- <br> -->
    <div class = "hero-family">
      <div class = "hero-family-content">
      <p class ="hfc-bold"><b>Meet the HERO5 Family.</b></p>
      <br>

      <p>So simple. So powerful. So GoPro. </p>
      <br><br>
      <button>SHOP NOW </button>
    </div>
  </div>
    <div class ="gray-back">
      <div class = "shop-karma-banner">
        <img src="/img/KarmaLogo_NEW_shadow.png"/>
        <img class = 'sk-img' src="/img/KarmaDrone_NEW_desktop.png"/>
        <div class = "sk-banner-content">
          <div class="sk-content">
          <h1>More than a drone. </h1>
          <br>
          <p>Capture amazingly smooth footage in the air,</p>
          <p>handheld and body mounted. </p>
          <button>SHOP NOW </button>
        </div>
        </div>
      </div>
      <br><br><br><br>
      <div class= "main-fusion-holder">
        <div class ="fusion-logo">
          <img src ="/img/Fusion_Logo.png"/>
        </div>
        <div class = "fusion-content">
          <div class= "text-button">
            <h1> RELIVE REALITY </h1>
            <p> Introducing FUSION </p>
            <button> LEARN MORE </button>
          </div>
          <div class = "fusion-image">
            <img src = "/img/Fusion_small_bg.jpg" />
          </div>
        </div>
      </div>
      <div class = "gp-plus-holder">
        <div class = "logo-header">
        <div class="gp-plus-logo2">
          <img src="/img/PlusLogoblack.png"/>
        </div>
        </div>
        <br>
        <div class = "plus-content">
          <div class= "txt-button">
            <h1> Access and share from anywhere. </h1>
            <p> A GoPro Plus subscription makes it easy to access, edit and share
              your GoPro footage - anytime, anywhere. </p>
              <button> LEARN MORE </button>
          </div>
          <div class="plus-img">
            <img src="/img/GoProPlusAssets.png" />
          </div>
        </div>
      </div>

    </div>
