<!-- GoPro Logo -->
<div class = "nav">
  <a ui-sref="home" id="navbar-logos">
</div>

<!-- Left sided nav -->
<div class = "nav-bar-wrapper">
  <a ui-sref="shop" id="nav-bar-left">Shop</a>
  <a ui-sref="apps" id="nav-bar-left">Apps</a>
  <a ui-sref="watch" id="nav-bar-left">Watch</a>
  <a ui-sref="plus" id="nav-bar-left">Plus</a>
</div>

<!-- Right sided nav -->
<div class = "login-support-cart">
  <a ui-sref="login" id="nav-bar-right">Login/Register</a>
  <a ui-sref="support" id="nav-bar-right">Support</a>
  <a ui-sref="language" id="nav-bar-right">US</a>
  <a ui-sref="cart" id="nav-bar-right"></a>
