<!-- GoPro Logo -->
<div class = "nav">
  <a ui-sref="home" id="navbar-logos">

<!-- Left sided nav -->
<div class = "nav-bar-wrapper">
  <!-- <div class = 'nav-bar-logo'>
</div> -->
<div class = 'navbar-links'>
  <!-- <img class ='gp-logo' src = '\img\gopro-hero-vector-logo.png' /> -->
  <img class ='gp-logo' src = '/img/gopro-logo.png' />
  <a ui-sref="shop" id="nav-bar-left">SHOP</a>
  <a ui-sref="apps" id="nav-bar-left">APPS</a>
  <a ui-sref="watch" id="nav-bar-left">WATCH</a>
  <img class='gp-plus-logo' src='/img/PlusLogo_white.png' ui-sref="plus" id="nav-bar-left" />
  <i class="fa fa-search" aria-hidden="true"></i>
</div>

<!-- Right sided nav -->
<!-- <div class = "login-support-cart">
  <a ui-sref="login" id="nav-bar-right">Login/Register</a>
  <a ui-sref="support" id="nav-bar-right">Support</a>
  <a ui-sref="language" id="nav-bar-right">US</a>
  <a ui-sref="cart" id="nav-bar-right"></a>
</div> -->
</div>
</div>
