<!-- GoPro Logo -->
<div class = "nav">
  <div class="shop-panel-holder">
  <div id="shop-panel">
    <img src="/img/Hero5Lockup.png"/>
    <img src="/img/small-karma.png"/>
    <img src="/img/stable.png"/>
    <img src="/img/3way.png"/>
    <img src="/img/dog-cam.jpg"/>
    <img src="/img/omni-main-images-omni-rig.png"/>
  </div>
</div>
  <a ui-sref="home" id="navbar-logos">

<!-- Left sided nav -->
<div class = "nav-bar-wrapper">

  <!-- <div class = 'nav-bar-logo'>
</div> -->
<div class = 'navbar-links'>
  <!-- <img class ='gp-logo' src = '\img\gopro-hero-vector-logo.png' /> -->
  <img class ='gp-logo' src = '/img/gopro-logo.png' />
  <a ui-sref="shop" id="shop-flip">SHOP</a>
  <a ui-sref="apps" id="nav-bar-left">APPS</a>
  <a ui-sref="watch" id="nav-bar-left">WATCH</a>
  <img class='gp-plus-logo' src='/img/PlusLogo_white.png' ui-sref="plus" id="nav-bar-left" />
  <i class="fa fa-search" aria-hidden="true"></i>
</div>


<!-- Right sided nav -->
<div class = "login-support-cart">
  <div class="shipping-menus">
  <div class="shipping">
    <p> Free 2-Day Shipping + Free Returns </p>
  <br>
</div>
<div class="menus">
  <a ui-sref="login" id="nav-bar-right">Login/Register</a>
  <a ui-sref="support" id="nav-bar-right">Support</a>
  <a ui-sref="language" id="nav-bar-right">US </a>
  <a ui-sref="cart" id="nav-bar-right">Cart</a>
</div>
</div>
</div>
</div>
</div>
