.homepage-video-container {
  // width: 100%;
  // height:
  // display:flex;
  // justify-content: center;
}
.homepage-video {
      // min-height: 100%;
      // min-width: 100%;
      // width: auto;
      // height: auto;
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%,-50%);

  width: 100%;
  height:auto;
  height: "240";
}
