* {
  margin: 0px;
}

.nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 93px;
  width: 100%;
  text-decoration: none;
  z-index: 10;
  // padding-top: 20px;
  // background-color: black;
  // opacity: .5;
}

.nav-bar-wrapper {
  // display: flex;
  // justify-content: flex-start;
  // align-items: center;
  // justify-content: space-between;
  z-index: 10;
  background-color: black;
  width: 89%;
  height: 93px;
}

.navbar-links {
  color: white;
  font-size: 16px;
  line-height: 18px;
  font-family: 'Heebo', sans-serif;
  z-index: 10;
  display: flex;
  align-items: center;
  z-index: 10;
  height: 93px;
  width: 50%;
  padding-right: 30px;
  margin-left: 15px;
  // float: left;
  width: 10%;
}

  #nav-bar-left {
    padding-left: 30px;
    padding-right: 8px;
    margin: 0 10px;
  }
.gp-logo {
  width: 9vw;
  z-index: 10;
}
.gp-plus-logo {
  width: 5vw;
  z-index: 10;
}
